---
import '@fontsource-variable/inter';
import mouse from '../assets/mouse.avif';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#dfdfdf" />
		<title>{title}</title>
	</head>
	<body>
		<div class="container">
			<img
				class="mouse"
				alt="Ratinho apagando um incêndio em um computador"
				src={mouse.src}
				width={mouse.width}
				height={mouse.height}
			/>

			<slot />

			<footer>
				<p class="footnote">
					<a href="https://cacic.com.br/docs">CACiC Docs</a
						> • <a
						 href="https://status.cacic.com.br">Estado dos serviços</a>
				</p>
			</footer>
		</div>
	</body>
</html>

<style>
	body {
		background-color: #dfdfdf;
		font-family: 'Inter Variable', system-ui, sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		margin: 0;
	}
	.container {
		max-width: 860px;
	}

	.mouse {
		max-width: 400px;
		width: 100%;
		height: auto;
		display: block;
		margin: 0 auto;
	}
	.footnote {
		font-size: 0.8rem;
		font-weight: 300;
		margin-top: 2rem;
	}

	.footnote a {
		color: #000;
		text-decoration: none;
	}

	.footnote a:hover {
		text-decoration: underline;
	}

	footer {
		padding: 1rem;
		text-align: center;
	}
</style>
